/* 
колір основного тексту - #000000
вториний колір тексту - rgba(0,0,0,0.8)
білий - #fffff
акцент -#18A0FB
вторичний фон #F5F5F5
*/

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-text-color: #18a0fb;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  /* add font for all body */
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: Comfortaa, cursive;

  font-size: 28px;
  line-height: 1.14;

  text-decoration: none;
}

.logo:hover {
  color: var(--accent-text-color);
}

/* Кнопка не наслідує стиль шрифту тому потрібно настпуна функція
botton{
  font-family: inherite;
}
*/

/* Site nav */
.site-nav .link {
  color: var(--accent-text-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;

  text-decoration: none;
}

/* Site nav наведення */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);

}

/* Активна ссилка (та яка відкрита) */
.site-nav .link.current {
  color: var(--title-text-color);
}

.footer .link{
  text-decoration: none;
}