/* Створення CSS зміних */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-text-color: #18a0fb;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  /* add font for all body */
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

/* утиліти */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;
}

/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: Comfortaa, cursive;

  font-size: 28px;
  line-height: 1.14;

  text-decoration: none;
}

.logo:hover {
  color: var(--accent-text-color);
}

/* PAGE-HEADER */
.page-header {
}

/* Кнопка не наслідує стиль шрифту тому потрібно настпуна функція
botton{
  font-family: inherite;
}
*/
/* main nav */
.main-nav {
  display: flex;
  align-items: center;
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 70px;
}

/* .site-nav .item {
  outline: 1px solid red;
} */

/* .site-nav .item:last-child {
  margin-right: 0;
} */

/* .site-nav .item:not(:last-child) {
  margin-right: 40px;
} */

.site-nav .item + .item {
  margin-left: 40px;
}

.site-nav .link {
  /* Блочна модель */
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;

  /* Оформлення тексту */
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;

  /* Анімації і тд */
}

/* Site nav наведення */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

/* Активна ссилка (та яка відкрита) */
.site-nav .link.current {
  color: var(--title-text-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 12px;
}

.footer .link {
  text-decoration: none;
}

/* Hero */
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--title-text-color);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.3;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
/* Section */
.section-title {
  margin-top: 0;
  margin-bottom: 60px;

  color: var(--title-text-color);
  font-size: 48px;
  line-height: 1.5;
  font-weight: 400;
}

.section-title.centered,
.section-descrition.centered {
  text-align: center;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -75px;
}

/* 1200 - 150=1050 /2 = 525 */
.feature-list .item {
  width: 500px;
  margin: 40px 75px;
}

/* Переваги та приклади робіт Feature & Exemples*/
.feature-list .title,
.work-list .title {
  margin-top: 0;
  margin-bottom: 24px;

  color: var(--title-text-color);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

.feature-list p {
  margin-top: 0;
  margin-bottom: 32px;
}

.work-list > .item {
  display: flex;
  align-items: center;

  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--primary-white-color);
}

.work-list > .item:nth-child(2n) {
  background-color: var(--secondary-bg-color);
  flex-direction: row-reverse;
}

.work-list > .item:nth-child(2n-1) .content {
  margin-left: 60px;
}

.work-list > .item:nth-child(2n) .content {
  margin-right: 60px;
}

.section-descrition {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 39px;
  line-height: 1.39;
}

.clien-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: -30px -30px;
  margin-right: auto;
  margin-left: auto;
}

.clien-list .item {
  margin: 30px 30px;
}

/* Замінити значення конктретно в заголовку секції Клеєнти
.clients > .section-title {
  color: var(--primary-text-color);
} */

/* Button or auth-nav list*/
.button {
  background-color: var(--primary-white-color);
  border: 1px solid transparent;
  border-radius: 6px;

  display: inline-block;
  min-width: 130px;
  padding: 11px 34px;

  color: var(--title-text-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;

  text-decoration: none;
  text-align: center;
}

/* Стиль основної кнопки */
.button.primary {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

/* Стиль вториної кнопки */
.button.secondary {
  background-color: var(--primary-white-color);
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
