/* Створення CSS зміних */

.list {
  list-style: none;
}

/* Hero */
.hero-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.3;
  text-align: center;
}

/* Section */
.section-title {
  color: var(--title-text-color);
  font-size: 48px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

/* Переваги та приклади робіт Feature & Exemples*/
.feature-list .title,
.work-list .title {
  color: var(--title-text-color);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

/* Замінити значення конктретно в заголовку секції Клеєнти */
.clients > .section-title {
  color: var(--primary-text-color);
}

/* Button or auth-nav list*/
.button {
  background-color: var(--primary-white-color);

  color: var(--title-text-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

/* Стиль основної кнопки */
.button.primary {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

/* Стиль вториної кнопки */
.button.secondary {
  background-color: var(--primary-white-color);
  color: var(--accent-text-color);
}
